<!DOCTYPE html>
<html lang="zh-cn">
	<head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="version" content ="?v=0.01">
        <base href="../">
        <title>生成效果图</title>
		<link href="favicon.ico" rel="shortcut icon" type="image/x-icon"/>
        <link href="favicon.ico" rel="icon"/>
        <link href="https://cdn.jsdelivr.net/npm/element-ui@2.15.14/lib/theme-chalk/index.min.css" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" href="static/css/index.css?v=0.01"/>
        <style type="text/css">
            *{padding: 0; margin: 0; font-size: 12px;}
            html{zoom:1;}
            html,body,#app{width: 100%; height: 100%; overflow: hidden;}
            /* loading样式不能放在#app-content，这样会导致在部分没有完全覆盖的页面上一直显示loading */
            [v-cloak]{display:none; background-image:url( 'common/loading.svg'); background-position: center; background-repeat: no-repeat;}
            #app{display: flex; flex-direction: column;}
            #app-header{padding:0 10px; height: 29px; min-height:29px; overflow: hidden; background-color: #363636; color: #999; display: flex;}
            #app-header .userinfo-container{width: 200px; line-height: 29px; color: #ff7300; text-align:right;}
            #app-header .menu-container{flex-grow: 1; width: 100%; overflow-x: auto;}
            #app-header .menu-container ul{white-space: nowrap;}
            #app-header .menu-container ul, #app-header .menu-container li{padding: 0; margin: 0; height: 100%;}
            #app-header .menu-container li{list-style: none; display: inline-block; padding: 0 5px; }
            #app-header .menu-container li a{color: #999; line-height: 29px; text-decoration: none;}
            #app-header .menu-container li:hover{background-color: white;}
            #app-header .menu-container li:hover a{color: black;}
            #app-content{flex-grow: 1; overflow: hidden;}
        </style>
        <link rel="stylesheet" href="rendering/creator.css">
	</head>
	<body>
        <div id="app" v-cloak>
            <el-container v-cloak>
                <el-aside width="270px" style="/*margin-left: 12px;*/" id="options-container">
                    <el-container>
                        <el-header height="220" id="source-container">
                            <div class="container-item-header">
                                <div class="container-item-title" style="width: 100px;">设置</div>
                                <div class="item-header-form" style="flex-grow: 1;"></div>
                            </div>
                            <div class="container-item-main" style="padding: 10px;">
                                <el-form size="mini" :inline="false" label-width="60px">
                                    <el-form-item label="选择相册">
                                        <el-select
                                            v-model="album"
                                            filterable
                                            remote
                                            default-first-option
                                            reserve-keyword
                                            value-key='id'
                                            placeholder="使用相册代码或名称查询"
                                            :remote-method="albumQuery"
                                            :loading="albumQueryLoading">
                                            <el-option
                                                v-for="album in albums"
                                                :key="album.id"
                                                :label="album.code + ' ' + album.name"
                                                :value="album">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="合成模式">
                                        <el-radio-group v-model="options.composeModel" v-on:change="handleComposeModelChange">
                                            <el-radio :label="0">精简</el-radio>
                                            <el-radio :label="1">完整</el-radio>
                                        </el-radio-group>
                                    </el-form-item>
                                    <el-form-item label="图片尺寸">
                                        <el-radio-group v-model="options.imageSize">
                                            <el-radio label="8x">800px</el-radio>
                                            <el-radio label="10x">1000px</el-radio>
                                        </el-radio-group>
                                    </el-form-item>
                                    <el-form-item label="添加水印">
                                        <el-radio-group v-model="options.isAddWatermark" v-on:change="updatePreviewImages">
                                            <el-radio :label="true">是</el-radio>
                                            <el-radio :label="false">否</el-radio>
                                        </el-radio-group>
                                    </el-form-item>
                                </el-form>
                            </div>
                        </el-header>
                        <el-main id="theme-image-container" style="padding: 0; background: white;display:flex;flex-direction: column;">
                            <div class="container-item-header">
                                <div class="container-item-title">相册</div>
                                <div v-if="album.images && album.images.length>0" style="margin-right: 10px;">
                                    <el-button class="text-button " type="text" size="small" v-on:click="handleSourceSelectAll">全选</el-button>
                                    <el-button class="text-button " type="text" size="small" v-on:click="handleSourceClearAll">全不选</el-button>
                                </div>
                                <el-select v-if="album.images" v-model="albumImageTag" size="mini" placeholder="按形状筛选" style="width:110px;">
                                    <el-option key="圆形" label="圆形" value="圆形"></el-option>
                                    <el-option key="20x20心" label="20x20心" value="20x20心"></el-option>
                                    <el-option key="25x25心" label="25x25心" value="25x25心"></el-option>
                                    <el-option key="18x25方" label="18x25方" value="18x25方"></el-option>
                                    <el-option key="18x25椭圆" label="18x25椭圆" value="18x25椭圆"></el-option>
                                </el-select>
                            </div>
                            <div class="container-item-main" style="overflow-y:hidden;">
                                <ul id="theme-image-list" v-if="!!album.images" style="height:100%; overflow-y:auto;">
                                    <template v-for="(image,index) of album.images">
                                        <li
                                            :title="image.name"
                                            class="design-item"
                                            :class="{ active: image.isActive }"
                                            v-on:click="handleAlbumImageSelected(index, image)"
                                            style="cursor:pointer;">
                                            <p class="design-image-wrapper">
                                                <img :src="image.url" :alt="image.name" :id="'source-' + image.id" v-on:load="handleResourceLoad($event, image)" crossorigin="anonymous"/>
                                            </p>
                                            <p class="design-name">
                                                <span contenteditable="false" class="editable-text"><{image.name}></span>
                                            </p>
                                        </li>
                                        <li class="design-item hidden" v-else>
                                            <p class="design-image-wrapper"><img src="" /></p>
                                            <p class="design-name"></p>
                                        </li>
                                    </template>
                                </ul>
                                <el-empty class="design-list-empty" v-else description=" " image-size="60"></el-empty>
                            </div>
                        </el-main>
                    </el-container>
                    
                    
                </el-aside>
                <el-container>
                    <el-aside width="530px" style="margin-left: 10px;" id="tpl-container">
                        <div class="container-item-header">
                            <div class="container-item-title" style="width: 80px;">模版</div>
                            <div style="flex-grow: 1;"></div>
                            <div v-if="tpls.length>0" style="margin-right: 20px;">
                                <el-button class="text-button" type="text" size="small" v-on:click="handleTplListSelectAll" style="margin-left:15px;">全选</el-button>
                                <el-button class="text-button" type="text" size="small" v-on:click="handleTplListClearAll">全不选</el-button>
                            </div>
                            <el-select v-model="tplCategoryName" size="mini" placeholder="按标签查找" style="width:110px;">
                                <el-option v-for="tag in tplTags" :key="tag" :label="tag" :value="tag"></el-option>
                            </el-select>
                        </div>
                        <div class="container-item-main">
                            <el-table :data="tpls" ref="tplListTable" style="width: 100%;" row-key="id" current-row-key="1" :highlight-current-row="false" :show-header="false" v-on:selection-change="handleTplSelectionChange">
                                <el-table-column fixed type="selection" :reserve-selection="false" width="30" align="center" :selectable="isRowSelectable">
                                </el-table-column>
                                <el-table-column fixed prop="code" label="编号" width="42" align="center">
                                    <template slot-scope="scope">
                                        <span><{scope.row.code}></span>
                                    </template>
                                </el-table-column>
                                <el-table-column prop="name" label="模版名称" width="185"></el-table-column>
                                <el-table-column label="图片">
                                    <template slot-scope="scope">
                                        <div class="tpl-image-list">
                                            <div v-for="(image, index) in scope.row.images" class="tpl-image-item" style="margin:0; padding:0; border:none;">
                                                <template v-if="image.url">
                                                    <el-image
                                                        :id="'image-' + image.id"
                                                        :data-id="scope.row.id"
                                                        class="tpl-image"
                                                        :src="image.url"
                                                        :preview-src-list="[image.url]"
                                                        v-on:load="handleResourceLoad($event, image)"
                                                        :title="image.name"
                                                        style="margin:0 2px;"
                                                        crossorigin="anonymous">
                                                    </el-image>
                                                </template>
                                            </div>
                                        </div>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </div>
                    </el-aside>
                    <el-main class="content-main" id="preview-container">
                        <div class="container-item" style="display: flex;">
                            <div class="container-item-header">
                                <div class="container-item-title" style="width: 100px;">预览</div>
                                <el-button
                                    type="text"
                                    size="small"
                                    class="text-button"
                                    v-if="previews.length>0"
                                    v-on:click="imageExportHandle">下载</el-button>
                            </div>
                            <div class="container-item-main" v-loading.lock="previewLoading">
                                <canvas id="canvas" style="display: none;" width="1000" height="1000"></canvas>
                                <canvas id="canvas-8x" style="display: none;" width="800" height="800"></canvas>
                                <canvas id="canvas-10x" style="display: none;" width="1000" height="1000"></canvas>
                                <ul class="preview-image-list" v-cloak>
                                    <li
                                        v-for="(preview,index) in previews"
                                        class="preview-image-item"
                                        :class="{active: preview.isActive}"
                                        v-on:click="handlePreviewItemClick(preview, index)">
                                        <div>
                                            <el-image
                                                :src="preview.src"
                                                id="'preview' + preview.code"
                                                :data-title="options.themeCode+preview.title"
                                                class="preview-image"
                                                v-on:load="handlePreviewImageLoad"
                                                :preview-src-list="previewImageUrls"></el-image>
                                        </div>
                                        <el-row style="margin-bottom: 5px;">
                                            <el-col :span="24" style="text-align: center;">
                                                <span style="padding:0 5px; font-size: 12px;">
                                                    <{options.themeCode}><{preview.title}>
                                                </span>
                                            </el-col>
                                        </el-row>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </el-main>
                </el-container>
            </el-container>
            <div style="display: none;">
                <el-image
                    v-for="(watermark, index) of watermarks"
                    :id="'watermark-' + watermark.id"
                    :data-id="'watermark-' + watermark.id"
                    class="tpl-mark"
                    :src="watermark.url"
                    v-on:load="handleResourceLoad($event, watermark)"
                    crossorigin="anonymous">
                </el-image>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js" type="application/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/element-ui@2.15.14/lib/index.min.js" type="application/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.26.0/dist/axios.min.js" type="application/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js" type="application/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/clipboard-polyfill@4.0.0/dist/es6/clipboard-polyfill.es6.min.js" type="application/javascript"></script>
        <script type="text/javascript" src="../static/js/index.js?v=0.01"></script>
	<script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.5/dist/FileSaver.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html-to-image/1.11.10/html-to-image.min.js"></script>
        <!--<script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/html-to-image/1.9.0/html-to-image.min.js" type="application/javascript"></script>-->
        
        <script type="text/javascript" src="rendering/creator-source-mixin.js?v=1.0.15"></script>
        <script type="text/javascript" src="rendering/creator-template-mixin.js?v=1.0.15"></script>
        <script type="text/javascript" src="rendering/creator-func.js?v=1.0.15"></script>
        <script type="text/javascript" src="rendering/creator-preview-mixin.js?v=1.0.15"></script>
        <script type="text/javascript" src="rendering/creator-dialog-mixin.js?v=1.0.15"></script>
        <script src="rendering/creator.js?v=0.01"></script>
	</body>
</html>
