<!DOCTYPE html>
<html lang="zh-cn">
	<head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="version" content="?v=0.01">
        <title>相册详情</title>
		<link href="../../static/favicon-256.ico" rel="shortcut icon" type="image/x-icon"/>
        <link href="../../static/favicon-256.ico" rel="icon"/>
        <link href="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/element-ui/2.15.7/theme-chalk/index.min.css" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" href="../../static/css/index.css?v=0.01"/>
        <link rel="stylesheet" href="detail.css">
	</head>
	<body>
        <div id="app" v-cloak>
            <div ondrop="dropHandler(event);" ondragover="dragOverHandler(event);" style="height:100%;">
                <el-container id="main-container" v-cloak>
                    <el-aside width="280px" style="height: 100%; background-color:white;">
                        <div class="section">
                            <div class="section-header" class="clearfix">
                                <span style="font-size: 12px;">相册详情</span>
                            </div>
                            <div class="section-body">
                                <el-form :inline="false" :model="album" size="mini" label-width="48px">
                                    <el-form-item label="代码">
                                        <el-input v-model="album.code" placeholder="自定义相册代码" value="" v-on:change="handleUpdateAlbum"></el-input>
                                    </el-form-item>
                                    <el-form-item label="名称">
                                        <el-input v-model="album.name" autosize placeholder="相册的名称" v-on:change="handleUpdateAlbum"></el-input>
                                    </el-form-item>
                                    <el-form-item label="标签">
                                        <el-input v-model="album.tag" placeholder="可以用来备注客户ID，非必填"  v-on:change="handleUpdateAlbum"></el-input>
                                    </el-form-item>
                                    <el-form-item label="描述">
                                        <el-input type="textarea" v-model="album.desc" autosize placeholder="为相册添加更多描述信息，可用于搜索，非必填"  v-on:change="handleUpdateAlbum" :autosize="true"></el-input>
                                    </el-form-item>
                                </el-form>
                            </div>
                        </div>
                    </el-aside>
                    <el-container style="margin-left:10px; padding: 0px; background-color: white;">
                        <el-header class="section-header content-header" height="40px" style="user-select: none;">
                            <el-row style="width:100%;">
                                <el-col :span="14">
                                    <el-form size="mini" :inline="true">
                                        <el-form-item style="width:110px;">
                                            <el-select v-model="tag" size="mini" placeholder="按形状筛选">
                                                <el-option key="圆形" label="圆形" value="圆形"></el-option>
                                                <el-option key="20x20心" label="20x20心" value="20x20心"></el-option>
                                                <el-option key="25x25心" label="25x25心" value="25x25心"></el-option>
                                                <el-option key="18x25方" label="18x25方" value="18x25方"></el-option>
                                                <el-option key="18x25椭圆" label="18x25椭圆" value="18x25椭圆"></el-option>
                                            </el-select>
                                        </el-form-item>
                                        <el-form-item>
                                            <el-upload :action="uploadURL"
                                                multiple
                                                :headers="uploadHeaders"
                                                name="file"
                                                accept=".png"
                                                :on-success="handleUploadSuccess"
                                                :data="uploadData"
                                                :file-list="files"
                                                :show-file-list="false">
                                                <el-button size="mini" type="primary">上传图片</el-button>
                                            </el-upload>
                                        </el-form-item>
                                    </el-form>
                                </el-col>
                                <el-col :span="10" style="text-align:right;">
                                </el-col>
                            </el-row>
                        </el-header>
                        <el-main>
                            <ul id="design-list" v-if="images.length > 0">
                                <template v-for="(image,index) of images" >
                                    <li class="design-item" :style="zoom" :class="image.isActive ? 'active' : ''" v-if="!image.isDirectory" style="width:100px; cursor: pointer;" v-on:click="handleImageSelect(index, image)">
                                        <p class="design-image-wrapper" style="width:100px; height: 100px; padding: 0px; position: relative; overflow: hidden;">
                                            <!-- fit="contain" style="width: 100%; height: 100%;" 为确保图片能够按比例显示，这两个样式都要保留 -->
                                            <el-image :id="'image-'+image.name" :src="image.url + '_80x80.png'" fit="contain" style="width: 100%; height: 100%;" title="点击查看图片详情"></el-image>
                                        </p>
                                        <p class="design-name" style="font-size:12px; width:100%;">
                                            <span class="editable-text" style="font-size:12px;">
                                                <{image.name}>
                                            </span>
                                        </p>
                                    </li>
                                    
                                    <li class="design-item" v-else style="width: 100px;" :style="zoom">
                                        <a v-on:click="handleOpenChildFolder(image)" style="text-decoration: none; color:black;">
                                            <p class="design-image-wrapper" style="width:100px; height: 100px; padding: 0px; position: relative; overflow: hidden;">
                                                <el-image src="static/img/envelope_files_folder_interface_office_icon.png" fit="contain" style="width: 70%; height: 70%; margin-top:18px;"></el-image>
                                            </p>
                                            <p class="design-name" style="width: 100%;">
                                                <span style="font-size:12px;"><{image.name}></span>
                                            </p>
                                        </a>
                                    </li>
                                </template>
                            </ul>
                            <el-empty class="design-list-empty" v-else description="图片库空空如也"></el-empty>
                        </el-main>
                    </el-container>
                </el-container>
                <el-drawer
                    title="图片详情"
                    size="240px"
                    :visible.sync="imageDetailVisible"
                    direction="rtl">
                    <div style="padding: 0 10px;">
                        <el-form size="mini" v-if="currentImage" label-position="right" label-width="60px">
                            <el-form-item label="名称">
                                <el-input v-model="currentImage.name" v-on:change="handleImageUpdate"></el-input>
                            </el-form-item>
                            <el-form-item label="标签">
                                <el-select v-model="currentImage.tag" size="mini" v-on:change="handleImageUpdate">
                                    <el-option key="圆形" label="圆形" value="圆形"></el-option>
                                    <el-option key="20x20心" label="20x20心" value="20x20心"></el-option>
                                    <el-option key="25x25心" label="25x25心" value="25x25心"></el-option>
                                    <el-option key="18x25方" label="18x25方" value="18x25方"></el-option>
                                    <el-option key="18x25椭圆" label="18x25椭圆" value="18x25椭圆"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="描述">
                                <el-input type="textarea" v-model="currentImage.desc" v-on:change="handleImageUpdate" placeholder="为图片添加描述内容，后期将用于图片搜索" :autosize="true"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" v-on:click="handleSetAsAlbumCover">设为封面</el-button>
                                <el-button type="danger" v-on:click="handleDeleteImage">删除</el-button>
                            </el-form-item>
                        </el-form>
                    </div>
                </el-drawer>
            </div>
        </div>
        <script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue/2.6.14/vue.min.js" type="application/javascript" referrerpolicy="no-referrer"></script>
        <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/element-ui/2.15.7/index.min.js" type="application/javascript" referrerpolicy="no-referrer"></script>
        <script src="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/axios/0.26.0/axios.min.js" type="application/javascript" referrerpolicy="no-referrer"></script>
        <script type="text/javascript" src="../../static/js/index.js?v=0.01"></script>
        <script src="detail.js?v=0.01"></script>
	</body>
</html>